.account-container * {
    box-sizing: border-box;
    font-size: 12px;
    word-wrap: break-word; 
}

.account-container h2 {    
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*=======================================
    HEADER SEARCH
=======================================*/
.account-container .search {
    margin-bottom: 20px;
}
.account-container .search::after {
    content: "";
    clear: both;
    display: table;
}

.account-container .search input {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;    
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    border: 1px solid #ddd;
    margin-bottom: 0;
}
.account-container .search input#searchFullName {
    width: 50%;
    float: left;
}
.account-container .search input#searchPhone {
    width: 25%;
    float: right;
    position: relative;
    left: 25%;
}
.account-container .search input#searchEmail {
    width: 25%;
    float: right;
    position: relative;
    left: -25%;
}

/*=======================================
    HEADER LEFT
=======================================*/
.account-container .left {
    float: left;    
    padding: 5px;
}
.account-container .left.full {
    width: 100%;
}
.account-container .left.half {
    width: 50%;
}
.account-container .left.half:active {
    text-decoration: underline;
}

.account-container .left table tr th {
    cursor: pointer;    
}
.account-container .left table tr th:hover {
    background-color: #666;
    color: #fff;
}
.account-container .left .cell-guest {
    text-align: center;
    background-color: #0000ff;
    color: #fff;
}
.account-container .left .cell-driver {
    text-align: center;
    background-color: #ff0000;
    color: #fff;
}
.account-container .left .cell-admin {
    text-align: center;
    background-color: #ffff00;
}

/*=======================================
    HEADER RIGHT
=======================================*/
.account-container .right {
    float: right;    
    padding: 5px;
}
.account-container .right table tr th span {
    padding-right: 15px;
}
.account-container .right table tr th input {
    line-height: 25px;
}
.account-container .right table tr th input {
    line-height: 25px;
}

.account-container .right table tr .cell-active {    
    text-align: center;
    width: 100px;
}
.account-container .right table tr .cell-lock {    
    text-align: center;
    width: 100px;
}
.account-container .right table tr .cell-hide {    
    text-align: center;
    width: 100px;
}

/*=======================================
    GRID - TABLE
=======================================*/
.account-container .grid-container {
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom: 5px;
}

.account-container .grid-container ul {
    list-style-type: none;
    padding : 0;
    margin-left: 5px;
    margin-right: 5px;
}

.account-container .grid-container .header div {
    font-weight: bold;
    background-color: #ccc;
}

/* clear "marker" of details/summary */
/*
.account-container .header {
    margin-left: 13px;
}
.account-container .header details > summary {
    list-style: none;
}
.account-container .header details > summary::-webkit-details-marker {
    display: none;
}
*/
/* Clearfix (clear floats) */
.account-container .grid-container::after {
    content: "";
    clear: both;
    display: table;
}

.account-container table {
    border-collapse: collapse;
    border-spacing: 0;    
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
}

.account-container table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.account-container th, td {    
    padding: 8px;
    vertical-align: middle;
}
  
.account-container tr:nth-child(even) {
    /*background-color: #f2f2f2;*/
    background-color: #fff;
}

/*=======================================
    GRID - ROW
=======================================*/
.account-container .dong.full {
    display: inline-table;
    line-height: 30px;
    width: calc(100% - 13px);
}

.account-container .dong div {
    display: table-cell;      
    border: 1px solid #ddd;
    padding: 5px;    
}
  
.account-container .grid-container li:nth-child(even) {
    background-color: #f2f2f2;
}

/*=======================================
    GRID - CELL
=======================================*/
.account-container .dong .cell-no {    
    text-align: center;
    width: 50px;
}
.account-container .dong .cell-id {    
    text-align: left;
    width: 100px;  
    /*  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
        
}
.account-container .dong .cell-fullname {    
    text-align: left;
    width: 300px;
}
.account-container .dong .cell-email {    
    text-align: left;
    width: 200px;
}
.account-container .dong .cell-email span {    
    cursor: pointer;
    text-decoration: underline;
    color: #0000ff;
}
.account-container .dong .cell-email span:hover {     
    color: #ff0000;
}
.account-container .dong .cell-phone {    
    text-align: left;
    width: 150px;
}
.account-container .dong .cell-phone span {    
    cursor: pointer;
    text-decoration: underline;
    color: #0000ff;
}
.account-container .dong .cell-phone span:hover {     
    color: #ff0000;
}
.account-container .dong .cell-modify {    
    text-align: left;
    width: 150px;
}
.account-container .dong .cell-actived {    
    text-align: center;
    vertical-align: middle;
    width: 70px;
}
.account-container .dong .cell-locked {    
    text-align: center;
    vertical-align: middle;
    width: 70px;
}
.account-container .dong .cell-hidden {    
    text-align: center;
    width: 70px;
    padding: 5px;
}

/*=======================================
    SUB GRID - HISTORY
=======================================*/
.account-container .history-container {
    padding-bottom: 5px;
} 

.account-container .history {
    margin: 15px 30px 15px 13px;
    width: 800px;
    border-bottom: 1px solid #000;
}

.account-container .history .sub-header {
    background-color: #ccc;   
    font-weight: bold;
}

.account-container .history .sub-header,
.account-container .history .sub-body {
    display: table;    
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}    
.account-container .history .sub-header div,
.account-container .history .sub-body div {
    display: table-cell;
    border-left: 1px solid #000;
    padding: 5px;
    vertical-align: middle;
}

.account-container .history .sub-header .sub-cell-no,
.account-container .history .sub-body .sub-cell-no {
    width: 100px;
    text-align: center;
}
.account-container .history .sub-header .sub-cell-date,
.account-container .history .sub-body .sub-cell-date {
    width: 250px;
    text-align: left;
}
.account-container .history .sub-header .sub-cell-status,
.account-container .history .sub-body .sub-cell-status {
    width: 100px;
    text-align: center;
}
.account-container .history .sub-header .sub-cell-description,
.account-container .history .sub-body .sub-cell-description {
    width: 350px;
    text-align: left;
}

