@charset "UTF-8";
/*ボディ全体*/
body {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/*common*/
.display-none {
  display: none;
}

.display-hidden {
  display: hidden;
}

/*尼崎のカラー制御ー*/
.agmc-ma-col {
  background: #42A5F5;
  color: white;
}

.agmc-sb-col {
  background: #26A69A;
  color: white;
}

.agmc-ac-col {
  background: #FFCA28;
  color: white;
}

/*右下固定ボタン*/
.fixed-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/*レイアウトの幅微調整用*/
/*行の余白*/
.row-layout-top {
  margin-top: 0.5rem;
}

/**signin用CSS*/
.signin-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.text-center {
  text-align: center!important;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.content {
  min-width: 800px;
}

.alert{
  margin-top: 1rem;
}

.label-item{
  font-weight: bold;
}

/* AA011 */
#detailReadTbl .tabulator-col,#detailHistryTbl .tabulator-col,#detailHistryMiroTbl .tabulator-col {
  background: #26A69A;
  color: white;
}

#detailReadTbl .tabulator-cell,#detailHistryTbl .tabulator-cell,#detailHistryMiroTbl .tabulator-cell {
  cursor: default;
}

#detailTblAA011 .tabulator-cell{
  height: 48px!important;
}

.ms-container .ms-list{
  height: 450px!important;
}

#ms-detailDepartmentOptg{
  margin: auto;width: 430px;
}

/*=======================================
    CSS
========================================*/
.direction-container * {
	box-sizing: border-box;
	font-size: 12px;
}

.direction-container h2 {
	font-size: 25px;
	padding: 10px 0 10px 0;
}

.direction-container .header{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	display: inline-flex;
	width: 100%;
}

.direction-container .header .left {
	width: 70%;
	text-align: left;
}
.direction-container .header .right {
	width: 30%;
	text-align: right;
}
.direction-container .header .right .today {
	font-weight: bolder;
}

.direction-container .header .spacing {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.direction-container .header .value {
	font-weight: bolder;
}

.direction-container .list-messages {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
  
.direction-container .list-messages li {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 8px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block
}
  
.direction-container .list-messages li a:hover:not(.header) {
	background-color: #eee;
}

.direction-container .list-messages .address {
	font-size: 11px;
}

.direction-container .list-messages .progress {
	display: inline-block;
	width: 100px;
	height: 10px;	
	border-radius: 5px;	
}
.direction-container .list-messages .progress.new {
	background-color: #ccc;
}
.direction-container .list-messages .progress.pending {
	background-color: #c515b6;
}
.direction-container .list-messages .progress.cancel {
	background-color: #ff0000;
}
.direction-container .list-messages .progress.done {
	background-color: #0000ff;
}

.direction-container .list-messages .position {
	margin-top: 8px;
    margin-right: 20px;
}

.direction-container .list-messages .left {
	width: 50%;
    vertical-align: middle;
    line-height: 34px;
}

.direction-container .list-messages .right {
	width: 50%;
	text-align: right;
}

.direction-container .list-messages .clearfix {
	display: inline-flex;
	width: calc(100% - 30px);
}

.direction-container .list-messages .right .icon {
	font-size: 12px;
    font-weight: bold;
    background-color: #ccc;
    padding: 5px;
	margin: 3px;
    border-radius: 5px;
    width: 50px;
    display: inline-block;
    text-align: center;	
}
.direction-container .list-messages .right .icon1 {	
	font-size: 15px;
	padding-right: 10px;
	color: #0000ff;
}
.direction-container .list-messages .right .icon2 {	
	font-size: 15px;
	padding-right: 10px;
	color: #d400ff;
}
.direction-container .list-messages .right .icon3 {	
	font-size: 15px;
	padding-right: 10px;
	color: #ff0000;
}
.direction-container .list-messages .right .timer {	
	font-weight: bold;
	font-size: 13px;
	padding-left: 15px;
}
