<!-- コンテナ -->
<div class="row" style="margin: 5px;"></div>
<div class="row">
    <div class="agmc-ma-col col">
        <h5 class="row-layout-top">AB021 検査結果参照</h5>
    </div>
</div>
<p></p>
<div class="base-info row row-layout-top">
    <div class="col table-responsive">
        <div>【患者情報】</div>
        <table class="table table-bordered border-primary">
          <thead></thead>
          <tbody>
            <tr>
                <td width="40%" style="background:#26A69A;color: white;"><label>通知ID</label></td><td><span class="headerNotificationIdLbl"></span></td>
            </tr>
                <td style="background:#26A69A;color: white;"><label">患者ID</label></td><td><span class="headerPatientIdLbl"></span></td>
            <tr>
                <td style="background:#26A69A;color: white;"><label>患者氏名</label></td><td><span class="headerPatientNmKanjiLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>年齢</label></td><td><span class="headerPatientAgeLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>性別</label></td><td><span class="headerPatientGenderLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>入外区分</label></td><td><span class="headerHospitalizationNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>診療科</label></td><td><span class="headerDepartmentNmLbl"></span></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="sample-test row row-layout-top display-none">
    <div class="col table-responsive">
        <div>【検体検査結果】</div>
        <table class="table table-bordered border-primary">
          <thead></thead>
          <tbody>
            <tr>
                <td width="40%" style="background:#26A69A;color: white;"><label>検査日時</label></td><td><span class="detail1ExaminationDtLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label">検査結果日時</label></td><td><span class="detail1ResultDtLbl"></span></td>
            </tr>                                
            <tr>
                <td style="background:#26A69A;color: white;"><label>検体</label></td><td><span class="detail1SpecimenNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>検査項目</label></td><td><span class="detail1ExaminationNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>検査結果値</label></td><td><span class="detail1ResultValueLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>単位</label></td><td><span class="detail1UnitLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>下限値</label></td><td><span class="detail1LowValueLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>上限値</label></td><td><span class="detail1UpperValueLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>異常判定</label></td><td><span class="detail1JudgeLbl"></span></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>


<div class="bacterial-test row row-layout-top display-none">
    <div class="col table-responsive">
        <div>【細菌検査結果】</div>
        <table class="table table-bordered border-primary">
          <thead></thead>
          <tbody>
            <tr>
                <td width="40%" style="background:#26A69A;color: white;"><label>検査区分</label></td><td><span class="detail2TargetSystemNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>細菌検査区分</label></td><td><span class="detail2BacteriologicalKbnNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label">採取日</label></td><td><span class="detail2CollectDtLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>最終報告日時</label></td><td><span class="detail2ResultDtLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>検体</label></td><td><span class="detail2SpecimenNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>検査方法</label></td><td><span class="detail2SmearNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>菌名</label></td><td><span class="detail2VirusNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>菌量</label></td><td><span class="detail2QuantityNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>結果</label></td><td><span class="detail2ResultNmLbl"></span></td>
            </tr>
            <tr>
                <td style="background:#26A69A;color: white;"><label>コメント</label></td><td><span class="detail2CommentLbl"></span></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<script src="./js/AB021.js" type="text/javascript"></script>