<form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="./img/hosp.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <!-- <span>※id sys:システム d:ドクター n:一般</span> -->
      <br>
      <div class="alert alert-danger display-none" role="alert">
        This is a danger alert—check it out!
      </div>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputId" class="form-control" style="ime-mode: disabled;" placeholder="LoginId" required autofocus maxlength="100">
    <!-- <label for="LoginId">LoginId</label> -->
  </div>

  <div class="form-label-group row-layout-top">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required maxlength="64">
    <!-- <label for="inputPassword">Password</label> -->
  </div>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy;2021</p>
</form>
<script src="./js/AA001.js" type="text/javascript"></script>