<link rel="stylesheet" href="./css/AA010.css">

<div class="account-container">
    <h2>Active Account</h2>

    <input type="text" id="search" class="search" onkeyup="myFunction()" placeholder="Search for names..">

    <div class="grid-container">
        <div class="left">
            <table>
                <tr>
                    <th class="cell-no">No</th>
                    <th class="cell-id">Id</th>
                    <th class="cell-fullname">Full Name</th>
                    <th class="cell-email">Email</th>
                    <th class="cell-phone">Phone</th>
                    <th class="cell-status">Status</th>
                </tr>
                <tr>
                    <td class="cell-no">1</td>
                    <td class="cell-id">03cb489b-cd9f-42e9-88a3-0605393a179a</td>
                    <td class="cell-fullname">Guest 2</td>
                    <td class="cell-email">sangnews2014@gmail.com</td>
                    <td class="cell-phone">0708825109</td>
                    <td class="cell-status">None</td>
                </tr>                             
            </table>
        </div>        
    </div>

</div>




<script src="./js/AA010.js" type="text/javascript"></script>