<div class="direction-container">
    <h2>Direction Driver - Messages</h2>

    <div class="header">
        <div class="left">
            <span class="spacing">Total Messages: <span class="value" id="totalRequests">0</span></span>
            <span class="spacing">NEW: <span class="value" id="totalNew">0</span></span>
            <span class="spacing">PROCESSING: <span class="value" id="totalProcessing">0</span></span>
            <span class="spacing">CANCEL: <span class="value" id="totalCancel">0</span></span>
            <span class="spacing">DONE: <span class="value" id="totalDone">0</span></span>
        </div>
        <div class="right">
            <span id="timer" class="today">01-Jan-0001 00:00</span>
        </div>        
    </div>

    <div class="body">
        <ul class="list-messages" id="list-messages">
            <!--
            <li>
                <details>
                    <summary>
                        <div class="clearfix">
                            <div class="left">
                                Guest 1 (0919257841) - 4 (km) - 28,000 (vnd)                                
                            </div>                            

                            <div class="right">
                                <span class="position">
                                    <span class="progress new">&nbsp;</span>
                                </span>

                                <span id="icon_1" class="icon" data-toggle="modal" data-target="#directionModal">
                                    3.4 
                                </span><i class="fas fa-biking icon1"></i>
                                <span id="icon_2" class="icon" data-toggle="modal" data-target="#directionModal">
                                    7.6 
                                </span><i class="fas fa-biking icon2"></i>
                                <span id="icon_3" class="icon" data-toggle="modal" data-target="#directionModal">
                                    12.0 
                                </span><i class="fas fa-biking icon3"></i>

                                <span class="timer">08:54</span>
                            </div>                            
                        </div>
                    </summary>
                    <div class="address"><b>From: </b> 133 Duong ba trac P1 Q8</div>
                    <div class="address"><b>To: </b> 265 To dan P12 Q4</div>
                </details>
            </li>
            -->                     

        </ul>
    </div>

</div>




<div>        
    <!-- The Modal -->
    <div class="modal fade direction-modal" id="directionModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Driver Info</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="left">
                            <span class="label">Full Name</span>
                        </div>
                        <div class="right">
                            <span class="value">Sang Minh Thach</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left">
                            <span class="label">Phone</span>
                        </div>
                        <div class="right">
                            <span class="value">(090)-714-2341</span>
                            <span class="zalo">Call Zalo...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left">
                            <span class="label">Email</span>
                        </div>
                        <div class="right">
                            <span class="value">thanh_nguyen@gmail.com</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left">
                            <span class="label">Address</span>
                        </div>
                        <div class="right">
                            <span class="value">176 Hoang Dieu P12 Q4</span>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="./js/AA071.js" type="text/javascript"></script>