<link rel="stylesheet" href="css/custom.css">
<!-- コンテナ -->
<div class="row row-layout-top"></div>
<div class="row">
    <div class="agmc-ma-col">
        <h5 class="row-layout-top">GM004 通知メンテンナンス</h5>
    </div>
</div>
<p></p>
<!-- 検索条件 -->
<div class="row align-items-center row-layout-top">
    <div class="col-sm">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  検索条件
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-auto">
                            <label for="In-Notification-Id" class="col-form-label">通知ID</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="In-Notification-Id" class="form-control" >
                        </div>
                        <div class="col-auto">
                            <input type="text" id="In-Notification-Id" class="form-control" >
                        </div>
                    </div>

                    <div class="row align-items-center row-layout-top">
                        <div class="col-auto">
                            <label for="In-gather-date" class="col-form-label">削除フラグ</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-layout-top">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary float-start" id="serch-btn"><i class="fas fa-search"></i>検索</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm">&nbsp;</div>
</div>
<!-- 結果一覧 -->
<div class="row align-items-center row-layout-top">
    <div class="col">
        <P></P>
        <div id="result-table" class="table-sm"></div>       
    </div>
</div>

<div class="row align-items-center row-layout-top">
    <div class="col-sm1">
        <button type="button" class="btn btn-primary">更新</button>
    </div>
</div>
<script>
    /**html 読み込まれたら*/
    $(() => {

        var tdata =[
            {no:1,
                sid:"XXXXXXXXXX",
                userNme:"利用者A",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
            {no:2,
                sid:"XXXXXXXXXX",
                userNme:"利用者B",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
            {no:3,
                sid:"XXXXXXXXXX",
                userNme:"利用者C",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
            {no:4,
                sid:"XXXXXXXXXX",
                userNme:"利用者C",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
            {no:5,
                sid:"XXXXXXXXXX",
                userNme:"",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
            {no:6,
                sid:"XXXXXXXXXX",
                userNme:"",
                device:"Android",
                delflg:"<div class=\"form-check\"><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\"><label class=\"form-check-label\" for=\"flexCheckDefault\"></label></div>"
            },
        ]; 
        //HTML直接書いてTabulatorの機能だけ乗っける
        var exTable = table = new Tabulator("#result-table", {
            layout:"fitColumns",//カラムコンテナに合わせる
            pagination: "local",
            paginationSize: 5,//5行でページング
            movableColumns:true,//カラムの移動を許可する
            data:tdata,
            columns:[
                {title:"No",field:"no", width:100},
                //{title:"通知",field:"noticFlg", width:100},
                {title:"通知ID",field:"sid", width:150},
                {title:"利用者",field:"userNme", width:200, editor:"select", editorParams:{values:{"利用者A":"利用者A", "利用者B":"利用者B", "利用者C":"利用者C", "利用者D":"利用者D"}}},
                {title:"送信端末情報",field:"device", width:200},
                {title:"備考",field:"coment",formatter:"textarea", width:200,editor:"textarea", 
                    editorParams:{
                        elementAttributes:{                   
                            maxlength:"10", //set the maximum character length of the textarea element to 10 characters
                        },
                        mask:"（備考）",
                        verticalNavigation:"editor", //navigate cursor around text area without leaving the cell
                    }},
                {title:"削除",field:"delflg",formatter:"html",width:100}
            ]
        });

    });

</script>